/* 768px */

@media screen and (min-width: 768px){

    
    .sidebar{
        flex-basis: 200px;
        padding: 15px;
    }

    .sidebar span{
        display: inline-block;
    }
    
    .logo-small{
        display: none;
    }

    .sidebar li{
        justify-content: flex-start;
        align-items: center;
    }

    .sidebar img{
        width: 20%;
        margin-right: 10px;
    }

    #logo{
        display: block;
        width: 80%;
    }

    .download{
        border-bottom: 1px solid white;
        padding-bottom: 10px;
    }

    .play,
    .time{
        width: 500px;
    }

    .settings,
    .volume-bar{
        width: 100px;
        text-align: center;
    }
}


/* 992px */

@media screen and (min-width: 992px){
    .row{
        justify-content: flex-start;
    }

    .row .card{
        flex-basis: calc(100% / 4 - 30px / 4);
    }

    .for-card,
    .art-card{
        flex-basis: calc(100% / 4);
    }
}

/* 1200px */

@media screen and (min-width: 1200px){
    .row .card{
        flex-basis: calc(100% / 6 - 50px / 6);
    }

    .for-card,
    .art-card{
        flex-basis: calc(100% / 6);
    }
}