/* CSS Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body{
    font-family: Montserrat;
    color: white;
}

img{
    max-width: 100%;
    display: block;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* Utils */

.container{
    max-width: 500px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.second-color{
    color: #7D7F84;
}

#white{
    color: white;
}

/* TOP CONTENT */

.top-content{
    height: calc(100vh - 100px);
    overflow: auto;
    background-color: #141922;
}

/* header */

header{
    height: 100px;
    background-color: #090b0fb8;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    justify-content: flex-end;
}

header a{
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    margin-right: 10px;
}

header button{
    background-color: #090b0f00;
    border: 0;
}

/* main */

main{
    flex-grow: 1;
    overflow: auto;
}

.main-content{
    padding: 20px;
}

/* main bar */

.main-bar ul{
    text-align: center;
}

.main-bar li.active::after{
    content: "";
    display: block;
    width: 30%;
    height: 2px;
    background-color: #adff2f;
    margin: 3px auto;
}

.main-bar li{
    color: #7D7F84;
    margin: 5px;
    display: inline-block;
    font-size: 14px;
}

/* cards */

h2{
    margin: 30px 0;
}

.row{
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.row .card{
    flex-basis: calc(50% - 5px);
    text-align: center;
}

.card img{
    margin-bottom: 10px;
}

.card span{
    color: #7D7F84;
}

.card h3{
    margin-bottom: 10px;
}

figure{
    position: relative;
    cursor: pointer;
}

.player{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.card :hover .player{
    display: flex;
}

/* created for */

.created-for h2{
    margin-top: 30px;
    margin-bottom: 15px;
}

.created-for p{
    color: #7D7F84;
    margin-bottom: 20px;
}

.for-row{
    gap: 10px;
}

.for-card{
    flex-basis: calc(50% - 5px);
    text-align: center;
}

.for-card img{
    margin-bottom: 15px;
}

/* Artist */

.artist h2{
    margin-top: 30px;
    margin-bottom: 15px;
}

.artist p{
    color: #7D7F84;
    margin-bottom: 20px;
}

.artist-row{
    gap: 10px;
}

.art-card{
    flex-basis: calc(50% - 5px);
    text-align: center;
}

.art-card img{
    border-radius: 50%;
}

/* sidebar */

.sidebar{
    background-color: black;
    flex-basis: 50px;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar img{
    width: 30px;
}

.sidebar li{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.sidebar li.active::before{
    content: "";
    display: block;
    height: 30px;
    border-left: 3px solid #adff2f;
    position: absolute;
    left: -1px;
}

.profile{
    background-color: grey;
    border-radius: 50%;
}

.sidebar span{
    display: none;
    color: #7D7F84;
}

.sidebar span:hover{
    color: white;
}

.playlist{
    overflow-y: auto;
    margin: 20px 0;
}

#logo{
    display: none;
}

/* FOOTER */

footer{
    height: 100px;
    background-color: #282828;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
}

.foot-left{
    gap: 10px;
    align-items: center;
    width: 150px;
    height: 100%;
    flex-shrink: 0;
}

.album-img{
    width: 40%;
}

.album{
    width: 50%;
}

.left-icon{
    flex-direction: column;
    gap: 5px;
    margin-left: 30px;
}

.play{
    text-align: center;
}

.play button{
    margin: 0 8px;
}

.foot-center{
    flex-grow: 1;
}

footer button{
    background-color: transparent;
    color: white;
    border: 0;
    
    font-size: 15px;
}

.fa-circle-play{
    font-size: 20px;
}

.time{
    align-items: center;
    margin-top: 15px;
}

.time-left{
    flex-basis: 20%;
    font-size: 12px;
    font-weight: bolder;
    text-align: center;
}

.time-bar{
    flex-basis: 60%;
    height: 5px;
    border: 1px solid ;
}

.now-bar{
    background-color: white;
    width: 30%;
    height: 100%;
}

.time-right{
    flex-basis: 20%;
    font-size: 12px;
    font-weight: bolder;
    text-align: center;
}

.foot-right{
    align-items: center;
    flex-basis: 20%;
}

.settings{
    flex-basis: 45%;
    display: flex;
    
}

.fa-desktop{
    margin: 0 5px;
}

.volume-bar{
    flex-basis: 55%;
}

.volume-bar{
    height: 5px;
    border: 1px solid;
}

.now-volume{
    background-color: white;
    width: 20%;
    height: 100%;
}

